.DS_Store
*.gem
*.rbc
.bundle
.config
.yardoc
.ruby-gemset
.ruby-version
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/dummy/tmp
test/dummy/log
test/version_tmp
tmp